---
import Author from './Author.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<article class="max-w-screen-md mx-auto">
    <div>
        <header class="mb-8">
            {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
            <p class="text-sm uppercase tracking-wider">{publishDate}</p>
            <h1 class="text-3xl">{title}</h1>
        </header>
        <main class="post-content pb-32">
            <slot />
        </main>
    </div>
</article>